.zone-joueur {
  display: flex;
  flex-direction: column; 
  border-radius: 8px;
  gap: 16px; 
  flex-wrap:wrap;
  height: auto;   
  align-items: center;
  justify-content: center; 
}

.main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.liste-carte-main {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 8px;     
  align-items: center;
  justify-content: center;
} 

.btn-valider-carte {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-valider-carte :disabled {
  background-color: #9E9E9E;
  cursor: not-allowed;
}

.carte-gagnee {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 8px;     
  align-items: center;
  justify-content: center;
}