.zone-joueur {
  display: flex;
  flex-direction: column; 
  border-radius: 8px;
  gap: 16px; 
  flex-wrap:wrap;
  height: auto;   
  align-items: center;
  justify-content: center; 
}

.main {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.carte-gagnee {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 8px;     
  align-items: center;
  justify-content: center;
}